:root{
    --header-color: #ff6900;
    --color-black: #1a1a1a;
    --sconto-color: #ff0000;
    --green-contain: #008000;
    --footer-color: #1a1a1a;
    --color-white: #ffffff;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}










/* setting central contenitor */
.center{
    max-width: 1500px;
    margin: 0 auto;
}









/* header settings */
.header{
    position: fixed;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.274) 2px 2px 3px;
}
.section-nav{
    background-color: var(--header-color);
    width: 100%;
}

header img{
    width: 120px;
}

header a{
    color: var(--color-white);
}











/* main settings */
main{
    padding-top: 70px;
}
main img{
    width: 100%;
}
.hearts{
    background-color: var(--color-white);
    padding: 10px;
    font-size: 2em;
    width: 50px;
    height: 50px;
}







/* footer settings */
.footer{
    background-color: var(--footer-color);
}

footer a{
    color: var(--color-white);
    margin: 10px 4px 0 0;
}
.border-footer{
    border-bottom: solid 1px var(--color-white);
}

footer .fa{
    padding: 2px;
    background-color: var(--color-white);
    color: var(--color-black);
}








/* setting dimension */
.min-width{
    min-width: 300px;
}
.max-row{
    width: calc(100% / 3);
    margin: 0 auto;
}









/* setting position */
.position-r{
    position: relative;
}
.position-a{
    position: absolute;
    bottom: 60px;
    left: 0;
}
.position-hearts{
    position: absolute;
    top: 10px;
    right: 0;
}

.img-visible{
    width: 100%;
}

.img-hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    
    
}




/* hover image */
.hover-contain:hover .img-hover{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    
    
}











/* flex setting */
.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.flex-central-items{
    display: flex;
    justify-content: center;
    align-items: center;
}











/* settings of padding - margin - text center */
.text-align{
    text-align: center;
}

.padding{
    padding: 8px;
}
.padding-top-button{
    padding: 40px 0;
}

.padding-cards{
    padding-bottom: 50px;
    padding-top: 10px;
}
.padding-footer{
    padding: 20px 0;
}

.padding-button{
    padding-bottom: 150px;
}
.margin-left{
    margin-left: 8px;
}












/* decoration of elements */
a{
    text-decoration :none;
}
.white{
    color: var(--color-white);
}

.black{
    color: var(--color-black);
}

.red{
    background-color: var(--sconto-color);
    padding: 3px 10px;
    margin-right: 4px;
    color: var(--color-white);
}

.green{
    background-color: var(--green-contain);
    padding: 3px 10px;
    color: var(--color-white);
}

.red-text{
    color: var(--sconto-color);
}

.gray-text{
    color: rgb(52, 52, 52);
}

.line-through{
    text-decoration: line-through;
}

.uppercase{
    text-transform: uppercase;
}
.bolder{
    font-weight: bolder;
}








